<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activitytest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.SYSTEM_ALTER_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstActivity"
            android:label="This is FirstActivity">
            <intent-filter>
                	<action android:name="com.example.activitytest.ACTION_START" />
                    <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            </activity>
            <activity android:name=".SecondActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
                    
                </intent-filter>
            </activity>
            <activity android:name=".ThirdActivity">
                <intent-filter >
                </intent-filter>
            </activity>
            <activity android:name=".ForthActivity">
                <intent-filter >
                </intent-filter>
            </activity>
            <activity android:name=".FifthActivity">
                <intent-filter >
                </intent-filter>
            </activity>
            <activity android:name=".SixthActivity">
                <intent-filter>
                </intent-filter>
            </activity>
            <activity android:name=".SevenActivity">
                <intent-filter ></intent-filter>
            </activity>
            <receiver android:name=".ForceOfflineReceiver">
                <intent-filter>
                    <action android:name="com.example.broadcastbestpratice.FORCE_OFFLINE"/>
                </intent-filter>
            </receiver>
            <activity android:name=".EightActivity"></activity>
    </application>

</manifest>
